body {
    margin: 0;
    padding: 0;
    background-color: #111111;
}



#loginbox{
    color: #eeeeee;
}

input{
    display: block;
    width: 100%;
    background-color: #111111;
    color: #eeeeee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-style: dotted;
    border-color: #eeeeee
}
select{
    display: block;
    width: 100%;
    background-color: #111111;
    color: #eeeeee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-style: dotted;
    border-color: #eeeeee
}

ul{
    list-style: none;
    color: #F55050;
}

.footext {
    text-align: center;
    color: #eeeeee;
}

.home-box {
    color: #eeeeee;
}

.go {
    color: #8aff80;
}

.navbar * {
    color: #eeeeee;
}

.tabela {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: none;
    border-color: #eeeeee
    margin: 0;
}

.inactive-acc {
    color: #999999;
}

.pickme {
    display: block:
    border-radius: 25px;
    border: 1px solid #8aff80;
    padding: 0.35rem;
    color: #8aff80;
    font-weight: bold;
    text-decoration:none;
    line-height: 3rem;
}

.super_pickme {
    display: block:
    border-radius: 25px;
    border: 1px solid #5B8FFF;
    padding: 0.35rem;
    color: #5B8FFF;
    font-weight: bold;
    text-decoration:none;
    line-height: 3rem;
}

.red-pickme {
    display: block:
    border-radius: 25px;
    border: 1px solid #F55050;
    padding: 0.35rem;
    color: #F55050;
    font-weight: bold;
    text-decoration:none;
    line-height: 3rem;
}

.history {
    display: block:
    border-radius: 25px;
    border: 1px solid #999999;
    padding: 0.35rem;
    color: #999999;
    font-weight: bold;
    text-decoration:none;
    line-height: 3rem;
}

.bolt {
    font-weight: bold;
}

.in {
    color: #8aff80;
}

.out {
    color: #F55050;
}

.druczek {
    font-size: 0.65rem;
}