body {
    margin: 0;
    padding: 0;
    background-color: #111111;
}

.red-crimson {
    color: #DC143C;
}

#loginbox{
    color: #eeeeee;
}

input:not([type="checkbox"]){
    display: block;
    width: 100%;
    background-color: #111111;
    color: #eeeeee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-style: dotted;
    border-color: #eeeeee
}

/* label {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
} */

.white {
    color: #eeeeee;
}
select{
    display: block;
    width: 100%;
    background-color: #111111;
    color: #eeeeee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-style: dotted;
    border-color: #eeeeee
}

ul{
    list-style: none;
    color: #F55050;
}

.opcje {
}

.footext {
    text-align: center;
    color: #eeeeee;
}

.home-box {
    color: #eeeeee;
}


.go {
    color: #8aff80 !important;
}

.detailed-button {
    /* float: left; */
}

.navbar * {
    color: #eeeeee;
}

.tabela {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: none;
    border-color: #eeeeee;
    margin: 0;
}

.inactive-acc {
    color: #999999;
}

.clickable {
    color: #8aff80;
    font-weight: bold;
    text-decoration:none;
}
.super_clickable {
    color: #5B8FFF;
    font-weight: bold;
    text-decoration:none;
}

.pickme {
    text-align: center;
    margin: 6px 0px 6px 6px;
    width: calc(50% - 6px);
    display: block;
    float: left;
    border: 1px solid #8aff80;
    color: #8aff80;
    font-weight: bold;
    text-decoration:none;
    line-height: 2rem;
}

.big_pickme {
    text-align: center;
    clear: both;
    margin: 6px 0px;
    width: 100%;
    float: left;
    display: block;
    border: 1px solid #8aff80;
    color: #8aff80;
    font-weight: bold;
    text-decoration:none;
    line-height: 2rem;
}

.super_pickme {
    text-align: center;
    clear: both;
    margin: 6px 0px;
    width: 100%;
    float: left;
    display: block;
    border: 1px solid #5B8FFF;
    color: #5B8FFF;
    font-weight: bold;
    text-decoration:none;
    line-height: 2rem;
}

.historia {
    clear: both;
}

.history {
    text-align: center;
    margin: 6px 6px 6px 0px;
    width: calc(50% - 6px);
    display: block;
    float: left;
    border: 1px solid #999999;
    color: #999999;
    font-weight: bold;
    text-decoration:none;
    line-height: 2rem;
}

.bolt {
    font-weight: bold;
}

.in {
    color: #8aff80;
}

.out {
    color: #F55050;
}

.druczek {
    font-size: 0.65rem;
}