body {
    margin: 0;
    padding: 0;
    background-color: #111111;
}

#box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginbox{
    color: #eeeeee;
}

input{
    display: block;
    width: 100%;
    background-color: #111111;
    color: #eeeeee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-style: dotted;
    border-color: #eeeeee
}

#loginbox ul{
    list-style: none;
    color: #ff3333
}

.footext {
    text-align: center;
    color: #eeeeee;
}

.home-box {
    color: #eeeeee;
}

.go {
    color: #8aff80
}

.navbar * {
    color: #eeeeee;
}
.navbar {
    border-bottom: dotted #eeeeee;
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

logo {
   color: #eeeeee;
}