{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
      <title>Bank Amerido</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    </script>
  </head>
  <body>
      <nav class="navbar">
          <div class="container-fluid">
              <a href="/account/" class="navbar-brand text-center">
                  <img src="{% static 'icon-dark.png' %}"  />
<!--                  <p class="h1">CKBN</p>-->
              </a>
              <a href="/logout/">
                  <img src="{% static 'logout-dark.png' %}"></img>
              </a>
          </div>
      </nav>
      <div class="container container-fluid col-sm-12 col-md-8 col-lg-6 p-4 home-box">
          {% block content %}
          {% endblock %}
      </div>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/button.js' %}"></script>
  </body>
</html>