{% extends 'base.html' %}

{% block content %}
    <div class="col-12 text-center">
        <h1 class="bolt">{{ acc.name }}</h1>
    </div>
   <div class="row text-center mt-5">
       <div class="col-6 bolt"><p class="h2">Saldo:</p></div>
       <div class="col-6 bolt text-center"><p class="h2">{{ acc.balance}}A</p></div>
   </div>
   <div class="opcje text-center mt-5">
       <a href="transfer/" class="pickme">przelew</a>
   </div>
   <div class="row historia">
       {% for his in hist %}
       <div class=""></div>
       {% endfor %}
   </div>
{% endblock %}