{% extends 'base.html' %}

{% block content %}
    <div class="col-12 text-center">
        <h1 class="bolt">Historia transakcji</h1>
    </div>
   <div class="row historia mt-4">
       {% for his in history %}
       <div class="col-8 mt-3">
           <div class="col-12 bolt overflow-hidden">
               {{ his.title | title }}
           </div>
           <div class="col-12 inactive-acc">
                {{ his.sender }}
           </div>
           <div class="col-12 inactive-acc">
                {{ his.receiver }}
           </div>
           <div class="col-12 inactive-acc druczek">
               {{ his.type }}
           </div>
       </div>
       <div class="col-4 mt-3">
           <div class="col-12">
                {{ his.date }}
           </div>
           <div class="col-12 out">
                -{{ his.value | safe }}A
           </div>
           <div class="col-12 in">
                {{ his.value | safe }}A
           </div>
       </div>
       {% endfor %}
       <div class="col-12">
        <a href="../history/{{prev}}" class="pickme col-6 block">poprzednia strona</a>
        <a href="../history/{{next}}" class="pickme col-6 block">nastepna strona</a>
    </div>
   </div>
{% endblock %}