{% extends 'base.html' %}

{% block content %}
    <div class="col-12 text-center">
        <h1>Witaj {{ name }}!</h1>
    </div>
   <div class="row tabela text-start">
       <div class="col-8 bolt tabela-title"><p>Rachunek</p></div>
       <div class="col-4 bolt text-center tabela-title"><p>Saldo</p></div>
   </div>
   {% for acc in accs %}
   <div class="row tabela mt-3">
       {% if acc.super %}
       <div class="col-8"><a href="{{ acc.id }}" class="super_pickme">{{ acc.name }}</a></div>
       {% else %}
       <div class="col-8"><a href="{{ acc.id }}" class="pickme">{{ acc.name }}</a></div>
       {% endif %}
       <div class="col-4 bolt text-center"><p>{{ acc.balance}}A</p></div>
   </div>
   {% endfor %}
   {% for acc in waiting %}
   <div class="row tabela mt-3">
       <div class="col-8"><p class="inactive-acc">{{ acc.name }}</p></div>
       <div class="col-4 text-center"><p>--</p></div>
   </div>
   {% endfor %}
   <div class="col-12 col-sm-auto mt-3 text-center">
       <a href="new/" class="pickme">Nowy rachunek</a>
       {% if super %}
       <a href="accept_account/" class="super_pickme">Proźby o rachunek</a>
       <a href="all_accounts/" class="super_pickme">Wszystkie rachunki</a>
       {% endif %}
   </div>
{% endblock %}