{% extends 'base.html' %}

{% block content %}
    <div class="col-12 text-center">
        <h1 class="bolt">{{ name }}</h1>
    </div>
    <div class="row mt-5">
        <form action="" method="POST"> {% csrf_token %}
            {% for field in form %}
            <div class="col-12 mb-4 mb-sm-3">{{field}}</div>
            {% endfor %}
            <ul>
                {% for k,err in form.errors %}
                <li>{{ err }}</li>
                {% endfor %}
                {% if not error == '' %}
                <li>{{ error }}</li>
                {% endif %}
            </ul>
            <input type="submit" class=" go text-center" value="{{ akcja }}"/>
        </form>
    </div>
    <div class="col-md-4 d-none d-md-block">
    </div>
{% endblock %}